Repository sorend/fylearn: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, docs, tests

Update README and workflows: release on v-tags, test.pypi on every push
  .github/workflows/build.yml
  .github/workflows/release.yaml
  README.md
Due: docs

Make dynamic versions PyPI-compatible (drop local version part, accept v-prefixed tags)
  pyproject.toml
Due: none

Update README and add release workflow (#36)
  .github/workflows/build.yml
  .github/workflows/release.yaml
  README.md
  pyproject.toml
Due: docs

Add tree canonicalization for fuzzy pattern trees
  fylearn/canonicalize.py
  tests/test_canonicalize.py
Due: library, tests

Fix FPCGA chromosome schema
  fylearn/fpcga.py
  tests/test_fpcga.py
Due: library, tests

✨ add neuro-fuzzy rvfl estimators
  README.md
  fylearn/nf_rvfl.py
  tests/test_nf_rvfl.py
Due: library, docs, tests

Add tree canonicalization for fuzzy pattern trees (#37)
  fylearn/canonicalize.py
  tests/test_canonicalize.py
Due: library, tests

Fix FPCGA chromosome schema (#38)
  fylearn/fpcga.py
  tests/test_fpcga.py
Due: library, tests

✨ add neuro-fuzzy rvfl estimators (#39)
  README.md
  fylearn/nf_rvfl.py
  tests/test_nf_rvfl.py
Due: library, docs, tests

Path conditions:
  library: any of: fylearn/
  configs: any of: requirements/, .git*, *.yml
  docs: any of: docs/, *.md, *.rst, *.txt
  tests: any of: tests/
