Repository sorend/fylearn: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, docs, tests

codecov.yml:

coverage:
  range: "95..100"

  status:
    project: no

flags:
  library:
    paths:
    - fylearn/
  configs:
    paths:
    - requirements/
    - ".git*"
    - "*.yml"
  docs:
    paths:
    - docs/
    - "*.md"
    - "*.rst"
    - "*.txt"
  tests:
    paths:
    - tests/

moved codecov token to travisyml
  .travis.yml
Due: configs

targt specific coverage file
  .travis.yml
Due: configs

tests and coverage update
  .travis.yml
  pytest.ini
Due: configs

fix up travis yml
  .travis.yml
Due: configs

coverage with init in tests
  .gitignore
  pytest.ini
  tests/__init__.py
Due: configs, tests

Added references for FRR classifiers
  fylearn/frr.py
Due: library

referenes for fpt
  fylearn/fpt.py
Due: library

added references
  fylearn/nfpc.py
  fylearn/nonstationary.py
Due: library

updated reference
  fylearn/fpcga.py
Due: library

references updated
  fylearn/fpt.py
  fylearn/frr.py
  fylearn/garules.py
Due: library

added python3 trove classifier
  setup.py
Due: none

build folder ignore
  .gitignore
Due: configs

added logo
  README.md
  docs/img/fylearn.svg
Due: docs

image
  README.md
Due: docs

image again
  README.md
Due: docs

updated
  README.md
Due: docs

readme updated
  README.md
Due: docs

fixes a number of lgtm warnings
  fylearn/fpcga.py
  fylearn/fpt.py
  fylearn/frr.py
  fylearn/fuzzylogic.py
  fylearn/garules.py
  tests/test_fuzzylogic.py
Due: library, tests

issue #13, adds a minimum delta when there is none
  fylearn/frr.py
  tests/test_frr.py
Due: library, tests

added more tests
  tests/test_frr.py
Due: tests

Update README.md
  README.md
Due: docs

updated travis test stage
  .travis.yml
Due: configs

updated travis skip script on deploy
  .travis.yml
Due: configs

sklearn and np matching whats available in anaconda
  .travis.yml
Due: configs

again with 0.22 instead of latest minor
  .travis.yml
Due: configs

no coverage in deploy stage
  .travis.yml
Due: configs

pypi badge
  README.md
Due: docs

fixed tests to use load_iris instead of csv
  fylearn/fpcga.py
  fylearn/garules.py
  tests/iris.csv
  tests/test_fpcga.py
  tests/test_fpt.py
  tests/test_garules.py
  tests/test_nfpc.py
Due: library, tests

fix random state in test for ensamble garules
  fylearn/garules.py
  tests/test_garules_ensemble.py
Due: library, tests

add random state to tests
  tests/test_local_search.py
Due: tests

skip existing for travis test deployment
  .travis.yml
Due: configs

added flattening
  fylearn/tlbo.py
  tests/test_tlbo.py
Due: library, tests

updated versions under test to recent
  .travis.yml
Due: configs

updated setup to match tested version
  setup.py
Due: none

numpy 1.18.1 available in conda
  .travis.yml
Due: configs

only sklearn 0.22.1 avail in conda
  .travis.yml
Due: configs

numpy 1.17.4 in anacond
  .travis.yml
Due: configs

updated scipy to allowed version
  .travis.yml
Due: configs

Feature/versions update (#19)
  .travis.yml
  setup.py
Due: configs

added test constrained tlbo example
  tests/test_tlbo.py
Due: tests
