Repository sorend/fylearn: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, docs, tests

removed duplicate test
  tests/test_tlbo.py
Due: tests

stale config
  .github/stale.yml
Due: none

cibuildwheel
  .github/workflows/cibuildwheel.yml
Due: none

cleanup
  .python-version
  .travis.yml
Due: configs

download pandoc
  setup.py
Due: none

avoid dependency on pypandoc
  setup.py
Due: none

simple build of wheel
  .github/workflows/cibuildwheel.yml
Due: none

again with tox
  .github/workflows/cibuildwheel.yml
  setup.cfg
  setup.py
Due: none

add wheel to build
  .github/workflows/cibuildwheel.yml
  .gitignore
Due: configs

add codecov
  .github/workflows/cibuildwheel.yml
Due: none

codecov with tox
  .github/workflows/cibuildwheel.yml
  setup.cfg
Due: none

tokens and two step
  .github/workflows/cibuildwheel.yml
Due: none

updated
  .github/workflows/cibuildwheel.yml
Due: none

Feature/GitHub actions (#24)
  .github/workflows/cibuildwheel.yml
  .gitignore
  .python-version
  .travis.yml
  setup.cfg
  setup.py
Due: configs

updated
  .github/workflows/build.yml
  README.md
Due: docs

depth
  .github/workflows/build.yml
Due: none

Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: none

badge to actions instead of travis (#25)
  .github/workflows/build.yml
  README.md
Due: docs

skip existing on branches
  .github/workflows/build.yml
Due: none

badges
  README.md
Due: docs

update the setup with more information
  README.md
  setup.py
Due: docs

coverage on python 3.9 run
  setup.cfg
Due: none

passenv
  setup.cfg
Due: none

passenv2
  setup.cfg
Due: none

full-coverage
  setup.cfg
Due: none

Feature/codecov back working (#26)
  README.md
  setup.cfg
  setup.py
Due: docs

added dunn index metric
  fylearn/metrics.py
  tests/test_metrics.py
Due: library, tests

:hammer: set random state in test
  fylearn/metrics.py
  tests/test_metrics.py
Due: library, tests

style formatting
  fylearn/ga.py
  fylearn/garules.py
  fylearn/metrics.py
  fylearn/tlbo.py
  tests/test_garules_ensemble.py
Due: library, tests

update build
  .ci/versioning.py
  .github/workflows/build.yml
  README.md
  fylearn/__init__.py
  fylearn/garules.py
  pyproject.toml
  pytest.ini
  setup.py
Due: library, docs

build using versioning and flit
  .github/workflows/build.yml
Due: none

fixed call to versioning.py
  .github/workflows/build.yml
Due: none

added flit publish
  .github/workflows/build.yml
Due: none

py3.11 bump
  setup.cfg
  setup.py
Due: none

build with modern python
  pyproject.toml
Due: none

uldated
  Makefile
  pyproject.toml
Due: none

more
  .gitignore
  Makefile
  fylearn/__init__.py
  pyproject.toml
Due: library, configs

testing
  Makefile
  fylearn/__init__.py
  pyproject.toml
Due: library

more
  pyproject.toml
  setup.cfg
  setup.py
Due: none

test
  .gitignore
  pyproject.toml
Due: configs

Path conditions:
  library: any of: fylearn/
  configs: any of: requirements/, .git*, *.yml
  docs: any of: docs/, *.md, *.rst, *.txt
  tests: any of: tests/
