Repository sorend/fylearn: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, docs, tests

more flit
  .github/workflows/build.yml
  Makefile
  fylearn/ga.py
  fylearn/garules.py
  fylearn/nonstationary.py
  pyproject.toml
  pytest.ini
  setup.cfg
Due: library

use python 3.12 for build and test
  .github/workflows/build.yml
Due: none

passenv
  setup.cfg
Due: none

fix numpy 1.x
  fylearn/fuzzylogic.py
Due: library

np 1.x
  fylearn/ga.py
Due: library

fix another test
  fylearn/ga.py
  tests/test_fpcga.py
Due: library, tests

add codecov token
  .github/workflows/build.yml
Due: none

build with pip wheel
  .github/workflows/build.yml
Due: none

again
  .github/workflows/build.yml
Due: none

add flit
  .github/workflows/build.yml
Due: none

check git status
  .github/workflows/build.yml
Due: none

fixed
  .ci/versioning.py
  .github/workflows/build.yml
  Makefile
  pyproject.toml
Due: none

make it again
  Makefile
  pyproject.toml
Due: none

dont upgrade pip
  .github/workflows/build.yml
Due: none

fix
  .github/workflows/build.yml
Due: none

fix makefile
  Makefile
Due: none

another mistake in makefile
  Makefile
Due: none

cleanup in makefile
  Makefile
Due: none

Feature/flit (#30)
  .ci/versioning.py
  .github/workflows/build.yml
  .gitignore
  Makefile
  fylearn/__init__.py
  fylearn/fuzzylogic.py
  fylearn/ga.py
  fylearn/garules.py
  fylearn/nonstationary.py
  pyproject.toml
  pytest.ini
  setup.cfg
  setup.py
  tests/test_fpcga.py
Due: library, configs, tests

ignore existing packages
  .github/workflows/build.yml
Due: none

continue on error
  .github/workflows/build.yml
Due: none

change to uv
  .github/workflows/build.yml
  .python-version
  Makefile
  pyproject.toml
  tests/test_garules.py
  tests/test_nfpc.py
  uv.lock
Due: tests

add anfis
  fylearn/anfis.py
  pyproject.toml
  tests/test_anfis.py
  uv.lock
Due: library, tests

use makefile for building
  .github/workflows/build.yml
  .gitignore
  Makefile
Due: configs

bumped dependencies
  fylearn/anfis.py
  tests/test_anfis.py
  uv.lock
Due: library, tests

fix versioning to work with uv
  .ci/versioning.py
  .github/renovate.json
  .github/workflows/renovate.yml
  Makefile
  fylearn/__init__.py
  pyproject.toml
Due: library

updated scipy dependency
  .gitignore
  fylearn/anfis.py
  fylearn/fpcga.py
  fylearn/fuzzylogic.py
  fylearn/ga.py
  fylearn/jaya.py
  fylearn/local_search.py
  fylearn/nfpc.py
  fylearn/rafpc.py
  fylearn/tlbo.py
  pyproject.toml
  tests/test_ga.py
Due: library, configs, tests

o'hagan meowa operator
  fylearn/fuzzylogic.py
  uv.lock
Due: library

ci: install uv in github actions workflow
  .github/workflows/build.yml
Due: none

tests on 3.12, 3.13, 3.14-dev
  .github/workflows/build.yml
  pyproject.toml
  setup.cfg
Due: none

vectorization
  fylearn/frr.py
Due: library

fix fpt
  fylearn/fpt.py
Due: library

Feature/other (#31)
  .ci/versioning.py
  .github/renovate.json
  .github/workflows/build.yml
  .github/workflows/renovate.yml
  .gitignore
  .python-version
  Makefile
  fylearn/__init__.py
  fylearn/anfis.py
  fylearn/fpcga.py
  fylearn/fpt.py
  fylearn/frr.py
  fylearn/fuzzylogic.py
  fylearn/ga.py
  fylearn/jaya.py
  fylearn/local_search.py
  fylearn/nfpc.py
  fylearn/rafpc.py
  fylearn/tlbo.py
  pyproject.toml
  setup.cfg
  tests/test_anfis.py
  tests/test_ga.py
  tests/test_garules.py
  tests/test_nfpc.py
  uv.lock
Due: library, configs, tests

rename
  fylearn/anfis.py
  fylearn/fpcowa.py
  tests/test_fpcowa.py
Due: library, tests

Feature/other (#32)
  fylearn/anfis.py
  fylearn/fpcowa.py
  tests/test_fpcowa.py
Due: library, tests

fix build
  .github/workflows/build.yml
Due: none

Add type hints, tests, and fix several bugs
  .github/workflows/build.yml
  Makefile
  fylearn/_validation.py
  fylearn/anfis.py
  fylearn/fpcga.py
  fylearn/fpcowa.py
  fylearn/fpt.py
  fylearn/frr.py
  fylearn/fuzzylogic.py
  fylearn/ga.py
  fylearn/garules.py
  fylearn/jaya.py
  fylearn/local_search.py
  fylearn/nonstationary.py
  fylearn/py.typed
  fylearn/rafpc.py
  fylearn/tlbo.py
  pyproject.toml
  tests/test_anfis.py
  tests/test_fpcga.py
  tests/test_fpcowa.py
  tests/test_fpt.py
  tests/test_frr.py
  tests/test_fuzzylogic.py
  tests/test_fuzzylogic_extra.py
  tests/test_ga.py
  tests/test_garules.py
  tests/test_garules_ensemble.py
  tests/test_jaya.py
  tests/test_local_search.py
  tests/test_nonstationary.py
  tests/test_rafpc.py
  tests/test_tlbo.py
  uv.lock
Due: library, tests

Add type hints, tests, and fix several bugs (#35)
  .github/workflows/build.yml
  Makefile
  fylearn/_validation.py
  fylearn/anfis.py
  fylearn/fpcga.py
  fylearn/fpcowa.py
  fylearn/fpt.py
  fylearn/frr.py
  fylearn/fuzzylogic.py
  fylearn/ga.py
  fylearn/garules.py
  fylearn/jaya.py
  fylearn/local_search.py
  fylearn/nonstationary.py
  fylearn/py.typed
  fylearn/rafpc.py
  fylearn/tlbo.py
  pyproject.toml
  tests/test_anfis.py
  tests/test_fpcga.py
  tests/test_fpcowa.py
  tests/test_fpt.py
  tests/test_frr.py
  tests/test_fuzzylogic.py
  tests/test_fuzzylogic_extra.py
  tests/test_ga.py
  tests/test_garules.py
  tests/test_garules_ensemble.py
  tests/test_jaya.py
  tests/test_local_search.py
  tests/test_nonstationary.py
  tests/test_rafpc.py
  tests/test_tlbo.py
  uv.lock
Due: library, tests

Path conditions:
  library: any of: fylearn/
  configs: any of: requirements/, .git*, *.yml
  docs: any of: docs/, *.md, *.rst, *.txt
  tests: any of: tests/
